body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

form {
    width: 80%;
    margin: 0 auto;
}

label, input, select {
    font-size: 20px;
}

label,
input {
    display: inline-block;
}

label {
  width: 30%;
  text-align: right;
}

label + input {
    width: 30%;
    margin: 0% 30% 0% 4%;
 }

label + select {
    width: 30%;
    margin: 0 30% 0 4%;
}

input + input {
    float: right;
}

#submit-container{
    text-align: center;
}
