@model IEnumerable<HospitalApplication.Models.ProcedureDto>

@{
    ViewBag.Title = "List";
}


<h2>List of Procedures</h2>

<p><a href="/Procedure/New">Add New Procedure</a></p>

@foreach (var procedure in Model)
{
    <h2><a href="/Procedure/Details/@procedure.ProcedureId">@procedure.ProcedureName</a></h2>
    <p>Dr.@procedure.DoctorLastName</p>
    <p>@procedure.Date</p>
}
