@model HospitalApplication.Models.DoctorDto


@{
    ViewBag.Title = "DeleteConfirm";
}

<div class="deleteConfirm">

    <h2 class="deleteTitle">Confirm Deletion</h2>

    <h2><strong>Are you sure you want to delete the following doctor?</strong></h2>
    <h3> @Model.DoctorFirstName @Model.DoctorLastName</h3>

    <form action="/Doctor/Delete/@Model.DoctorId" method="POST" class="delete">
        <input type="submit" style="background-color:red;" value="Confirm Delete" />
    </form>

</div>

<div>
    <a href="/Doctor/Details/@Model.DoctorId"> Cancel - Return to Doctor</a>
</div>
