@model HospitalApplication.Models.RoomDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete Room @Model.RoomNumber?</h2>

<div>
    <a href="/Room/Details/@Model.RoomId">Cancel</a>
</div>

<form action="/Room/Delete/@Model.RoomId" method="POST" class="delete">

    <input type="submit" style="background-color:red;" value="Confirm Delete" />

</form>
