@model HospitalApplication.Models.PatientDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<div class="deleteConfirm">

    <h2 class="deleteTitle">Confirm Deletion</h2>

    <h2><strong>Are you sure you want to delete the following patient?</strong></h2>
    <h3> @Model.PatientFirstName @Model.PatientLastName</h3>

    <form action="/Procedure/Delete/@Model.PatientId" method="POST" class="delete">
        <input type="submit" style="background-color:red;" value="Confirm Delete" />
    </form>

</div>

<div>
    <a href="/Doctor/Details/@Model.PatientId"> Cancel - Return to Patient</a>
</div>
