@model HospitalApplication.Models.PatientDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Delete Confirmation</h2>

<h2>Are you sure you want to delete @Model.PatientFirstName @Model.PatientLastName?</h2>

<div>
    <a href="/Patient/List"> Cancel </a>
</div>

<form action="/Patient/Delete/@Model.PatientId" method="POST" class="delete">
    <input type="submit" style="background-color:red;" value="Confirm Delete" />
</form>

