@model IEnumerable<HospitalApplication.Models.PatientDto>

@{
    ViewBag.Title = "List";
}


<h2>List of Patients</h2>
@if (User.IsInRole("Admin"))
{
    <p><a href="/Patient/New">Add New Patient</a></p>
}

@foreach (var patient in Model)
{
    <h2><a href="/Patient/Details/@patient.PatientId">@patient.PatientLastName</a></h2>
    <p>@patient.PatientFirstName</p>
}

