@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="indexTitle">Hospital Project</h1>
    <p class="lead">Providing medical services to the Greater Toronto Area since 2022.</p>
    <img id="hospitalPic" src="~/Content/Images/hospital_exterior.jpg"/>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Doctors</h2>
        <p>
            View list of our world-renowned doctors
        </p>
        <p><a class="btn btn-default" href="/Doctor/List">View &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Patients</h2>
        <p>View list of our current patients</p>
        <p><a class="btn btn-default" href="/Patient/List">View &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Rooms</h2>
        <p>See rooms available</p>
        <p><a class="btn btn-default" href="/Room/List">View &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Procedures</h2>
        <p>See the booked procedures</p>
        <p><a class="btn btn-default" href="/Procedure/List">View &raquo;</a></p>
    </div>
</div>